# BookPage Web Scraping

In [99]:
import requests
from bs4 import BeautifulSoup

In [100]:
book=requests.get('https://bookpage.com/reviews')

In [101]:
soup=BeautifulSoup(book.content, 'html.parser')

In [102]:
Book_name = []   
Author_name = [] 
Genre = [] 
Book_review = []

In [103]:
names=soup.find_all('h4', class_='italic')
names[0:5]

[<h4 class="italic">
 <a href="/reviews/25835-syed-m-masood-bad-muslim-discount-fiction">The Bad Muslim Discount</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25896-dayna-lorentz-feather-childrens">Of a Feather</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25912-annalee-newitz-four-lost-cities-history">Four Lost Cities</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25842-mark-harris-mike-nichols-biography"> <span style="font-style:normal;">★ </span>Mike Nichols</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25921-martha-teichner-when-harry-met-minnie-biography-memoir"> <span style="font-style:normal;">★ </span>When Harry Met Minnie</a>
 </h4>]

In [104]:
for i in names:
    bname=""
    for j in i.find_all('a'):
        bname=bname+' '+j.get_text().replace(' ★ ','')
        print(bname)
        Book_name.append(bname)

 The Bad Muslim Discount
 Of a Feather
 Four Lost Cities
 Mike Nichols
 When Harry Met Minnie
 Good Neighbors
 Made in China
 Hitler and Stalin
 The Other Mothers
 Milo Imagines the World

In [105]:
genre= soup.find_all('p', class_='genre-links hidden-phone')
genre[0:5]

[<p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=coming_of_age">Coming of Age</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=children_s">Children's</a>
  /
 <a href="/search?book_genre=middle_grade">Middle Grade</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=history">History</a>
  /
 <a href="/search?book_genre=science">Science</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=biography">Biography</a>
  /
 <a href="/search?book_genre=arts_culture">Arts &amp; Culture</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=biography_memoir">Biography &amp; Memoir</a>
  /
 <a href="/search?book_genre=memoir">Memoir</a>
 </p>]

In [106]:
for i in genre:
    bgenre=""
    for j in i.find_all('a'):
        bgenre=bgenre+' '+j.get_text().replace('\n','')
        print(bgenre)
    Genre.append(bgenre)

 Fiction
 Fiction Coming of Age
 Children's
 Children's Middle Grade
 Nonfiction
 Nonfiction History
 Nonfiction History Science
 Nonfiction
 Nonfiction Biography
 Nonfiction Biography Arts & Culture
 Nonfiction
 Nonfiction Biography & Memoir
 Nonfiction Biography & Memoir Memoir
 Fiction
 Fiction Popular Fiction
 Nonfiction
 Nonfiction Social Science
 Nonfiction Social Science Business
 Nonfiction
 Nonfiction History
 Nonfiction History European History
 Nonfiction
 Nonfiction Biography & Memoir
 Nonfiction Biography & Memoir Memoir
 Children's
 Children's Children's Picture Book

In [107]:
review= soup.find_all('p', class_= 'excerpt')
review[0:5]

[<p class="excerpt">
 Syed M. Masood mixes humor with tragedy. When it works, it’s captivating. When it doesn’t, it can feel uneven and disjointed.
 </p>,
 <p class="excerpt">
 <p>Rufus the great horned owl is the self-declared “worst owl in the history of owldom.” Next to his fledgling sister, First, 6-month-old Rufus feels like a runt. An unsuccessful, can’t-hunt-to-save-his-life runt.</p>
 </p>,
 <p class="excerpt">
 As Annalee Newitz shows in the marvelous <b>Four Lost Cities</b>, an ancient city’s fate was determined by complex interactions of politics, the environment and human choices.
 </p>,
 <p class="excerpt">
 <p>Candid, colorful and chock-full of detail, <strong>Mike Nichols: A Life</strong> is the biography that Nichols well deserves.</p>
 </p>,
 <p class="excerpt">
 <b>When Harry Met Minnie</b> is often a heart-rending read—humans and animals suffer, die and grieve—but it’s also studded with wry wit and meaningful musings on friendship.
 </p>]

In [108]:
for i in review:
    Book_review.append(i.get_text().replace('\n',''))
Book_review[0:5]

['Syed M. Masood mixes humor with tragedy. When it works, it’s captivating. When it doesn’t, it can feel uneven and disjointed.',
 'Rufus the great horned owl is the self-declared “worst owl in the history of owldom.” Next to his fledgling sister, First, 6-month-old Rufus feels like a runt. An unsuccessful, can’t-hunt-to-save-his-life runt.',
 'As Annalee Newitz shows in the marvelous Four Lost Cities, an ancient city’s fate was determined by complex interactions of politics, the environment and human choices.',
 'Candid, colorful\xa0and chock-full of detail, Mike Nichols: A Life is the biography that Nichols well deserves.',
 'When Harry Met Minnie is often a heart-rending read—humans and animals suffer, die and grieve—but it’s also studded with wry wit and meaningful musings on friendship.']

In [109]:
author=soup.find_all('p', class_='sans bold')
author[0:5]

[<p class="sans bold">
 Syed M. Masood
 </p>,
 <p class="sans bold">
 Dayna Lorentz
 </p>,
 <p class="sans bold">
 Annalee Newitz
 </p>,
 <p class="sans bold">
 Mark Harris
 </p>,
 <p class="sans bold">
 Martha Teichner
 </p>]

In [110]:
for i in author:
    Author_name.append(i.get_text().replace('\n',''))
Author_name[0:5]

['Syed M. Masood',
 'Dayna Lorentz',
 'Annalee Newitz',
 'Mark Harris',
 'Martha Teichner']

In [111]:
print(len(Book_name),len(Author_name),len(Genre),len(Book_review))

10 10 10 10

In [112]:
import pandas as pd
Books=pd.DataFrame({})
Books['Name']=Book_name[0:5]
Books['Author']=Author_name[0:5]
Books['Genre']=Genre[0:5]
Books['Review']=Book_review[0:5]
Books

,Name,Author,Genre,Review
0,The Bad Muslim Discount,Syed M. Masood,Fiction Coming of Age,Syed M. Masood mixes humor with tragedy. When ...
1,Of a Feather,Dayna Lorentz,Children's Middle Grade,Rufus the great horned owl is the self-declare...
2,Four Lost Cities,Annalee Newitz,Nonfiction History Science,As Annalee Newitz shows in the marvelous Four ...
3,Mike Nichols,Mark Harris,Nonfiction Biography Arts & Culture,"Candid, colorful and chock-full of detail, Mik..."
4,When Harry Met Minnie,Martha Teichner,Nonfiction Biography & Memoir Memoir,When Harry Met Minnie is often a heart-rending...